@model EmployeeMgmt.Domain.Entities.Employee

@{
    ViewData["Title"] = "Delete Employee";
}

<h2>Delete Employee</h2>

<h3>Are you sure you want to delete this employee?</h3>
<div>
    <h4>@Model.Name</h4>
    <dl class="row">
        <dt class="col-sm-2">Employee Code</dt>
        <dd class="col-sm-10">@Model.EmployeeCode</dd>
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>
        <dt class="col-sm-2">Department</dt>
        <dd class="col-sm-10">@Model.Department?.DepartmentName</dd>
        <dt class="col-sm-2">Hire Date</dt>
        <dd class="col-sm-10">@Model.HireDate</dd>
    </dl>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="EmployeeId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
